<h1 class="h1 text-center">Read Comments</h1>

<div class="container">
    <ol id="comments-container">
        
    </ol>
    <footer id="comments-box" class="text-muted" style="background-color:#f5f3f0;">
        <div class="container">
            <p><label for="title">Add your comment</label></p>
            <p class="float-right">
                <button class="btn btn-primary" id="btnCreate">Add a comment</button>
            </p>
            <input id="title" placeholder="Write the title">
            <textarea class="form-control" id="body" rows="1" placeholder="Write the body"></textarea>
        </div>
    </footer> 
</div>

<script src="/app/comments.js">
</script>